/*.App.tsx {*/
/*    padding: 30px;*/
/*    display: flex;*/
/*}*/

/*.App.tsx > div {*/
/*    margin-right: 50px;*/
/*}*/

/*.error {*/
/*    border: red 1px solid;*/
/*}*/

/*.error-message {*/
/*    color: red;*/
/*}*/

/*.active-filter {*/
/*    background-color: aquamarine;*/
/*}*/

.is-done {
    opacity: 0.5;
}

.spinner {
    width: 300px;
    height: 300px;
    margin-left: 200px;
}

/*//"storybook": "start-storybook -p 6006 -s public",*/
/*//"build-storybook": "build-storybook -s public"*/